<!DOCTYPE html>
<html>
    <head>
        <title>Billionaires Statistics Dataset (2023)</title>
        
    </head>
    <body style="background-color:white;">
        <h1>About</h1>
        
        <h3><i> About the Dataset: </i> </h3>
            
 <p>   Delve into the opulent world of billionaires with our comprehensive dataset. Discover the intricate details of their wealth, from industries and sources to demographics and geographic locations. Explore the fascinating realm of billionaire statistics and unearth insights into the elite few who have reached the pinnacle of success.</p>
        
  
<h4>Dataset Source :  <a href="https://www.kaggle.com/datasets/nelgiriyewithana/billionaires-statistics-dataset">Link To Dataset</a></h4>
        
 <h3><i>Details On the columns displayed from the DataSet: : </i> </h3>
<ul>
    <li><strong>Firstname:</strong> The first name of the billionaire.</li>
    <li><strong>Lastname:</strong> The last name of the billionaire.</li>
    <li><strong>Age:</strong> The age of the billionaire.</li>
    <li><strong>BirthYear:</strong> The birth year of the billionaire.</li>
    <li><strong>Source:</strong> The source of the billionaire's wealth.</li>
    <li><strong>Industries:</strong> The industries associated with the billionaire's business interests.</li>
    <li><strong>Titles:</strong> The title or honorific of the billionaire.</li>
    
</ul>

       
        
    </body>
</html>