<!DOCTYPE html>
<html>
    <head>
        <title> Billionaries_Dataset</title>
        
    </head>
    <body>
        <h1>Billionaires Statistics Dataset (2023)</h1>
                <h2> Description  </h2>

        <p>This Website contains statistics on the world's billionaires, including information about their businesses, industries, and personal details. It provides insights into the wealth distribution, business sectors, and demographics of billionaires worldwide.

        </p>
               
        
        
        <ul>  <li><a href="{{url_for('about')}}"> About Page</a> </li>
            <li><a href="{{url_for('data')}}"> Data Page</a> </li> </ul>
        
        
        
    </body>
</html>